---
import SlideTo from "../components/SlideTo.astro";

const { prev, id, next, classes, title } = Astro.props;
---

<!-- <section
  id={id}
  class={`px-8 py-16 flex flex-col gap-2 justify-center ${classes || ""}`}
>
  {
    title && (
      <h3 class="text-center text-white mb-8 tracking-widest uppercase">
        {title}
      </h3>
    )
  }
    <slot />
</section> -->
<section
  id={id}
  class={`min-h-screen py-20 flex flex-col gap-2 justify-center relative ${classes || ""}`}
>
  {prev && <SlideTo target={prev} isTop={true} />}
  {next && <SlideTo target={next} isTop={false} />}
  {
    title && (
      <h3 class="text-center mb-4 px-8 tracking-widest uppercase py-4 sticky top-0 backdrop-blur-sm dark:bg-slate-900/75 font-semibold">
        {title}
      </h3>
    )
  }
  <div class="px-8">
    <slot />
  </div>
</section>
