---
import { Image } from "astro:assets";
import freewayImage from "../images/freeway.webp";
import moviesandshowsImage from "../images/moviesandshows.webp";
import ExternalLink from "../icons/ExternalLink.astro";
import Section from "../ui/Section.astro";
import ArrowDown from "../icons/ArrowDown.astro";

const PROJECTS = [
  {
    title: "Movies & Shows",
    description:
      "Explore detailed info on movies and TV shows, including cast, trailers, images and recommendations.",
    link: "https://moviesandshows.vercel.app/",
    github: "https://github.com/RaulHinojosa24/movies-and-shows",
    technologies: [
      "React",
      "React Router",
      "Context API",
      "Hooks",
      "Tailwind CSS",
      "Fetch API",
    ],
    image: moviesandshowsImage,
  },
  {
    title: "Movies & Shows - Backend",
    description:
      "Designed to secure the TMDB API token and provide well-defined API endpoints.",
    link: "",
    github: "https://github.com/RaulHinojosa24/movies-and-shows-backend",
    technologies: ["Node.js", "Express", "Axios", "TMDB APIs"],
    image: "",
  },
  {
    title: "FreeWay - Travel planner",
    description:
      "Travel planning app, developed by my partners and me as the final project of a bootcamp, covering both front-end and back-end.",
    link: "",
    github: "https://github.com/PlanificacionViaje",
    technologies: ["Vue.js", "Spring Boot", "Axios"],
    image: freewayImage,
  },
  {
    title: "...and this portfolio!",
    description:
      "An easy way of showing everyone who am I and what I'm capable of.\nI hope you liked it!",
    link: "",
    github: "https://github.com/RaulHinojosa24/portfolio",
    technologies: ["Astro", "Tailwind CSS"],
    image: "",
  },
];
---

<Section title="Projects" prev="#about" id="projects">
  <ul class="flex flex-col gap-20">
    {
      PROJECTS.map(
        ({ title, description, link, github, technologies, image }) => (
          <li class="flex flex-col gap-4 border-l-[16px] border-accent px-4 -ml-sm lg:-ml-lg pb-[0.2rem]">
            <div class="space-y-2">
              <h4 class="font-bold pb-1 text-lg tracking-wide">
                {link ? (
                  <a
                    class="flex gap-2 items-center"
                    target="_blank"
                    href={link}
                  >
                    {title}
                    <ExternalLink />
                  </a>
                ) : (
                  title
                )}
              </h4>
              <p class="leading-snug">{description}</p>
              <ul class="flex gap-2 flex-wrap">
                {technologies.map((tech) => (
                  <li class="text-sm px-2 border-[1px] border-accent">
                    {tech}
                  </li>
                ))}
              </ul>
            </div>
            {image && (
              <Image
                src={image as ImageMetadata}
                alt="App screenshot"
                class="aspect-video w-48 object-cover"
              />
            )}
            {github && (
              <a
                id="github"
                href={github}
                target="_blank"
                class="font-bold text-accent flex items-center relative after:absolute after:bottom-0 after:left-0 after:transition-all after:w-0 after:border-accent focus:after:w-full focus:after:border-[1px] hover:after:w-full hover:after:border-[1px] active:after:w-full active:after:border-[1px]"
              >
                GitHub repository <ArrowDown classes="rotate-90 mt-1" />
              </a>
            )}
          </li>
        ),
      )
    }
  </ul>
</Section>

<style>
  h4,
  #github {
    font-family: "Antonio", system-ui, sans-serif;
  }
  p {
    white-space: pre-line;
  }
</style>
